#  PYTHON

1. What is Python, and why is it popular?
     - Python is very easy to understanding language multiline company use to this language.
2. What is an interpreter in Python?
     -  interpreter is translatter in python.

3.What are pre-defined keywords in Python?
    - some pre-defined keywords in python like True,False,none etc.
4.Can keywords be used as variable names?
    - No keywords is pre-defined keywords not variable
    a = 5 is variable
   : print (is keywords)

5.What is mutability in Python?
   -#objects/container whose state or value can  be changed after they are created are
#called as mmutable objects or container,
#string is a type of immutable object/ doesn't supports item assignment

In [ ]:
#another type of data container
list_cont = [1,2,3,4.3,(3+5j),True,"Ajay"]
list_cont

[1, 2, 3, 4.3, (3+5j), True, 'Ajay']

In [ ]:
list_cont[0]

1

In [ ]:
list_cont[4]

(3+5j)

In [ ]:
list_cont[6]

'Ajay'

In [ ]:
list_cont[-1]

'Ajay'

In [ ]:
#mutability
list_cont[6] = "Bijay"

In [ ]:
list_cont

(1, 2, 3, 4.23, (3+5j), True, 'Ajay')

In [ ]:
list_cont
type(list_cont)

list

In [ ]:
list_cont[6] = "Bijay"

In [ ]:
list_cont

[1, 2, 3, 4.3, (3+5j), True, 'Bijay']

In [ ]:
list_cont[0]= 100

In [ ]:
list_cont

[100, 2, 3, 4.3, (3+5j), True, 'Bijay']

6. Why are lists mutable, but tuples are immutable?
    - tuples use parentheses instead of square brackets, and the items in tuples cannot be modified,list is mutable because lists can changed.
    \\

    7.What is the difference between “==” and “is” operators in Python?
        - == its mean to any two objects is eqal to
         is it mean to compare to memory location in two objects

In [ ]:
a=2
b=2
a==b

True

In [ ]:
a=2
b=2
a is b

True

   8.What are logical operators in Python?
      -logical operator in python like
      and, or, not


  9.What is type casting in Python?
        - type casting in python like cast any number like str.to float float to sgtring, int to float.


 10. What is the difference between implicit and explicit type castinge?
      - imlicit type casting python understand datatype
```

In [ ]:
a = 8
type(a)

int

In [ ]:
2+3

5

   - explicit type casting convert data type using inbuilt functiond>> str, int, float, bool
  
  convert data type using inbuilt functiond>> str, int, float, bool

In [ ]:
a = "2"
type(a)

str

In [ ]:
int(a)

2

In [ ]:
type(2)

int

 11. What is the purpose of conditional statements in Pytho?
        - the purpose of conditional statement in python check any conditional True or False.
 12.  How does the elif statement work?
        - elif statement work when use multiple statement in python
         then one statement is False the used elif statement.

13.What is the difference between for and while loop?
    - for loop it is works on inerate over a sequence of elements str, list
    - while loop it is works on repeatally executed a block of code until met (True)
14. Describe a scenario where a while loop is more suitable than a for loop.
    - no for loop more suitable than while because

In [ ]:
row = 1
while row <= 4:
    col = 1
    while col <= row:
        print("*", end = "")
        col = col+1
    print()
    row = row+1

*
**
***
****

In [ ]:
for i in range(4):
    for j in range(i+1):
        print("*", end = "")
    print()

*
**
***
****

Practical Questions

1 Write a Python program to print "Hello, World!_

In [ ]:
print("hello word")

hello word

2. Write a Python program that displays your name and age.

In [ ]:
name = ("deepak")
age = ("24")
print(name)
print(age)

deepak
24

3. Write code to print all the pre-defined keywords in Python using the keyword library.

In [ ]:
help("pre-defined keywords")
print(help("keywords"))

No Python documentation found for 'pre-defined keywords'.
Use help() to get the interactive help utility.
Use help(str) for help on the str class.


Here is a list of the Python keywords.  Enter any keyword to get more help.

False               class               from                or
None                continue            global              pass
True                def                 if                  raise
and                 del                 import              return
as                  elif                in                  try
assert              else                is                  while
async               except              lambda              with
await               finally             nonlocal            yield
break               for                 not

None

some pre-defined keyword in python like True,False, None

4. Write a program that checks if a given word is a Python keyword.

In [ ]:
a = 2
b = 2
a is b

True

5. Create a list and tuple in Python, and demonstrate how attempting to change an element works differently
for each.

In [ ]:
list = [1,2,5,10,"arjun"]
print(list[0])
list[4] = "birju"
print(list)

1
[1, 2, 5, 10, 'birju']

In [ ]:
tup = (1,2,5,10,"arjun")
print(tup[0])
print(tup)
tup[4] = "birju"
print(tup)

1
(1, 2, 5, 10, 'arjun')

TypeError: 'tuple' object does not support item assignment

6. Write a function to demonstrate the behavior of mutable and immutable arguments.

In [ ]:
#mutable behavior
list_cont = [1,2,3,5,"Ajay"]
list_cont
list_cont[4]
list_cont[4] = "Bijay"
list_cont

[1, 2, 3, 5, 'Bijay']

In [ ]:
# immutable arguments string are no mutable in the python
d = "deepak"
d[0] = "b"

TypeError: 'str' object does not support item assignment

7. Write a program to demonstrate the use of logical operators.

In [ ]:
# logical operators And, or, no
True and True

True

In [ ]:
True and False

False

In [ ]:
False and False

False

In [ ]:
True or True

True

In [ ]:
True or False

True

In [ ]:
not False

True

8. Write a Python program to convert user input from string to integer, float, and boolean types

In [ ]:
# strint to integer
a = "2"
print(type(a))
print(type(int(a)))

<class 'str'>
<class 'int'>

In [ ]:
a = "2"
print(type(a))
print(type(float(a)))

<class 'str'>
<class 'float'>

In [ ]:
a = "2"
print(type(a))
print(type(bool(a)))

<class 'str'>
<class 'bool'>

9.Write code to demonstrate type casting with list elements.

In [ ]:
#type casting
list = [1,2,3,8,9]
print(list[0])
list[0] = 100
print(list)
list[3] = "deepak"
print(list)

1
[100, 2, 3, 8, 9]
[100, 2, 3, 'deepak', 9]

10. Write a program that checks if a number is positive, negative, or zero.
    -

In [ ]:
num = 42
if num < 23:
    print(num, "is negative")
elif num > 23:
    print(num, "is positive")
else:
    print(num, "is zero")

42 is positive

In [ ]:
num = 20
if num < 23:
    print(num, "is negative")
elif num > 23:
    print(num, "is positive")
else:
    print(num, "is zero")

20 is negative

In [ ]:
num = 23
if num < 23:
    print(num, "is negative")
elif num > 23:
    print(num, "is positive")
else:
    print(num, "is zero")

23 is zero

11.  Write a for loop to print numbers from 1 to 10

In [ ]:
n = 11
i = 1
while i < n:
    print(i)
    i = i+1

1
2
3
4
5
6
7
8
9
10

12. Write a Python program to find the sum of all even numbers between 1 and 50.

In [ ]:
num = 40
if num % 2 == 0:
    print(num, "is even")
else:
    print(num, "is odd")

40 is even

13. Write a program to reverse a string using a while loop.

In [ ]:
l = [1,2,"Ajay","Bijay"]
for i in l:
  print(i)

1
2
Ajay
Bijay

14. Write a Python program to calculate the factorial of a number provided by the user using a while loop.

In [ ]:
for i in range(1, 6):
    for j in range(1, 11):
        product = i * j
        print(f"{i} * {j} = {product}")
    print()

1 * 1 = 1
1 * 2 = 2
1 * 3 = 3
1 * 4 = 4
1 * 5 = 5
1 * 6 = 6
1 * 7 = 7
1 * 8 = 8
1 * 9 = 9
1 * 10 = 10

2 * 1 = 2
2 * 2 = 4
2 * 3 = 6
2 * 4 = 8
2 * 5 = 10
2 * 6 = 12
2 * 7 = 14
2 * 8 = 16
2 * 9 = 18
2 * 10 = 20

3 * 1 = 3
3 * 2 = 6
3 * 3 = 9
3 * 4 = 12
3 * 5 = 15
3 * 6 = 18
3 * 7 = 21
3 * 8 = 24
3 * 9 = 27
3 * 10 = 30

4 * 1 = 4
4 * 2 = 8
4 * 3 = 12
4 * 4 = 16
4 * 5 = 20
4 * 6 = 24
4 * 7 = 28
4 * 8 = 32
4 * 9 = 36
4 * 10 = 40

5 * 1 = 5
5 * 2 = 10
5 * 3 = 15
5 * 4 = 20
5 * 5 = 25
5 * 6 = 30
5 * 7 = 35
5 * 8 = 40
5 * 9 = 45
5 * 10 = 50